<form [formGroup]="productFormGroup" class="product-form">
  <mat-form-field>
    <input matInput type="text" placeholder="Product name" formControlName="product_name">
    <mat-hint align="end">The name of the product</mat-hint>
    <mat-error *ngIf="productFormGroup.controls.product_name.hasError('required')">Product name is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Producer" formControlName="producer">
      <mat-option [value]="producerOption.id" *ngFor="let producerOption of producerOptions">{{producerOption.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="productFormGroup.controls.producer.hasError('required')">Producer is required</mat-error>
    <mat-hint align="end">The producer of the product</mat-hint>
  </mat-form-field>
  <app-date placeholder="Expiration date" formControlName="expiration_date"
            hint="The expiration date of the product"></app-date>

  <br/>
  <mat-form-field>
    <mat-select placeholder="Storage"
                formControlName="storage">
      <mat-option [value]="storageOption[0]" *ngFor="let storageOption of storageOptions">{{storageOption[1]}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="productFormGroup.controls.storage.hasError('required')">Storage is required</mat-error>
    <mat-error *ngIf="productFormGroup.controls.storage.hasError('dangerousStorage')">Dangerous goods need the storage
      type 'Other'
    </mat-error>
    <mat-hint align="end">The storage type of the product</mat-hint>
  </mat-form-field>
  <br/>
  <mat-checkbox formControlName="dangerous">Dangerous</mat-checkbox>
  <br/>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!productFormGroup.valid" (click)="createProduct()">
      <span *ngIf="!productFormGroup.controls.id.value">Create</span>
      <span *ngIf="productFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>

<app-stocklevellist *ngIf="productFormGroup.controls.id.value" [product_id]="product_id"></app-stocklevellist>
