.mat-header-cell, .mat-cell
{
  padding: 10px;
}

.stock-list {
  width: 40rem;
  min-width: 40rem;
  margin: auto;
}

.stock-header
{
  padding-top: 3rem;
  width: 100%;
  margin: auto;
  text-align: center;
  align-self: center;
}
